<div class="shoe-container">
  <h1>
    <%= @shoe.brand %>
  </h1>
  <p>
    Ordered by PPG &nbsp &nbsp &nbsp
  </p>
  <p>
    Total Players: <%= @shoe.players.size %> &nbsp &nbsp &nbsp
    Percentage of Total Players: <%= (@shoe.players.size.to_f / @allplayers.size.to_f * 100).round(1) %>%
  </p>
  <hr>

  <table class="shoetable">
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
      <th>Points per Game</th>
      <th>Total Rebounds per Game</th>
      <th>Assists per Game</th>
    </tr>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.first_name, player %> <%= link_to player.last_name, player %></td>
        <td><%= link_to player.team.name, player.team %></td>
        <td><%= link_to player.position.abbr, player.position %></td>
        <td><%= player.ppg %></td>
        <td><%= player.trb %></td>
        <td><%= player.ast %></td>
      </tr>
    <% end %>
  </table>
</div>
