<div class="shoe-container">
  <h1>Wears <%= @shoe.brand %></h1>
  <p>Ordered by PPG</p>
  <hr>

  <table class="shoetable">
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
      <th>Points per Game</th>
      <th>Total Rebounds per Game</th>
      <th>Assists per Game</th>
    </tr>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.first_name, player %> <%= link_to player.last_name, player %></td>
        <td><%= link_to player.team.name, player.team %></td>
        <td><%= link_to player.position.abbr, player.position %></td>
        <td><%= player.ppg %></td>
        <td><%= player.trb %></td>
        <td><%= player.ast %></td>
      </tr>
    <% end %>
  </table>
</div>
