<!DOCTYPE html>
<html>
  <head>
    <title>MUDB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= cloudinary_js_config %>
  </head>


  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"> <img src="/assets/shoesthumb.png" width="30" height="30" class="d-inline-block align-top" alt="MUDB logo">
      MUDB
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/teams" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Teams
          </a>
          <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/teams">All Teams</a>
            <div class="dropdown-divider"></div>
            <% Team.all.each do |team| %>
              <%= link_to team.name, team, :class => 'dropdown-item' %>
            <% end %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/shoes" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Shoes
          </a>
          <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/shoes">All Shoes</a>
            <div class="dropdown-divider"></div>
            <% Shoe.all.each do |shoe| %>
              <%= link_to shoe.brand, shoe, :class => 'dropdown-item' %>
            <% end %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/positions" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Positions
          </a>
          <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/positions">All Positions</a>
            <div class="dropdown-divider"></div>
            <% Position.all.each do |position| %>
              <%= link_to position.name, position, :class => 'dropdown-item'  %>
            <% end %>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/players">All Players <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">

    <%= yield %>
  </div>
  </body>
</html>
